**/*.o

# Horrible hack
# These files get modified on builds
# But needed to check them in anyway
filesys/Makefile
network/Makefile
threads/Makefile
userprog/Makefile
vm/Makefile

# These were the newly created files
bin/coff2noff
filesys/nachos
network/nachos
test/forkjoin
test/forkjoin.coff
test/halt
test/halt.coff
test/matmult
test/matmult.coff
test/printtest
test/printtest.coff
test/shell
test/shell.coff
test/sort
test/sort.coff
test/testexec
test/testexec.coff
test/testregPA
test/testregPA.coff
test/testyield
test/testyield.coff
test/vectorsum
test/vectorsum.coff
threads/nachos
userprog/nachos
vm/nachos
